.audio {
    width: 100%;
}

.model-footer {
    text-align: center;
}

.form-audio {
    margin-left: 350px;
}

.page-header {
    text-align: center;
}

.form {
    margin-left: 350px;
    margin-right: 350px;
}

.page-header {
    text-align: center;
}

input[type="text"] {
    width: 98%;
}

textarea {
    width: 98%;
    height: 300px;
}
input[type="password"] {
    width: 100%;
}

.dash {
    margin-left: 120px;
    margin-bottom: 20px;
}

.btn-dash {
    margin-top: 20px;
    margin-left: 270px;
}

.btn-delete {
    margin-bottom: 20px;
}