{% extends "layout.html" %}

{% block content %}

    <h2>Create Category</h2>
    <form action="{{ url_for('category') }}" method=post>
    {{ form.hidden_tag() }}

    {{ form.name.label }}
    {{ form.name }}

    {{ form.description.label }}
    {{ form.description }}<br/>

   <input id="submit" name="submit" class="btn btn-inverse" type="submit" value="Create Category">
  </form>
{% endblock %}